@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  @apply m-5 p-0;
  font-family: sans-serif;
}
.square {
  @apply border float-left text-2xl font-[bold] leading-[34px] h-[34px] text-center w-[34px] -mr-px -mt-px p-0 border-solid border-[#999];
  background: #fff;
}
.board-row {
  display: grid;
}
.board-row:after {
  @apply clear-both content-[''] table;
}
.status {
  @apply mb-2.5;
}
.game {
  @apply flex flex-row;
}
.game-info {
  @apply ml-5;
}
